<h1 class="text-center">Word Puzzle</h1>
<br>
<div class="text-center">
<form action="/results">
  <label for="stringInput"></label>
  <input type="text" name="stringInput">
  <button class="btn" id="submitButton" type="submit">Show Word Puzzle!</button>
</form>
</div>
